#score-counter p,
#score-counter h2,
#round-info p,
#round-info h2{
    margin: 0px;
}

button{
    margin-bottom: 1.5em;
}

.human-color{
    color: blue;
}
.computer-color{
    color: red;
}

.win-color{
    color: green;
}
.lose-color{
    color:red;
}
.tie-color{
    color: grey;
}
